/.ipynb_checkpoints/*.ipynb
/playML/.idea/encodings.xml
/playML/.idea/kNN_function.iml
/playML/.idea/misc.xml
/playML/.idea/modules.xml
/playML/.idea/vcs.xml
/playML/.idea/workspace.xml
/playML/__pycache__/__init__.cpython-37.pyc
/playML/__pycache__/kNN.cpython-37.pyc
/playML/__pycache__/metrics.cpython-37.pyc
/playML/__pycache__/model_selection.cpython-37.pyc
